<!DOCTYPE html>
<html>
<head>
    <title>{{tittle}}</title>
</head>
<body>

    <h3>
        {{message}}
    </h3>
    <form action="RegisterUser" method="post" enctype="multipart/form-data">
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        Nationality:<br>
        <input type="text" name="nationality">
        <br>
        UserName:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        Confirm Password:<br>
        <input type="password" name="confPassword">
        <br><br>
        <input type="submit" value="Submit">
        
        <a href="Index">
            <input type="button" value="Go to Home" />
        </a>

        <a href="Login">
            <input type="button" value="Login" />
        </a>
    </form>
</body>
</html>