<!DOCTYPE html>
<html>
<body>

    <form action="http://127.0.0.1:8080/App/user/RegisterUser" method="post" enctype="multipart/form-data">
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        Nationality:<br>
        <input type="text" name="nationality">
        <br>
        UserName:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="text" name="password">
        <br>
        Confirm Password:<br>
        <input type="text" name="confPassword">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>